<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://s3-ap-northeast-1.amazonaws.com/arbitrage-files/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body{
        background-image:url(https://s3-ap-northeast-1.amazonaws.com/arbitrage-files/img/blur-bg-blurred.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      p,span,i{
        opacity: .9;
        font-family: Roboto, sans-serif;
      }
      .object{
        background-image:url(img/blur-bg-blurred.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        /*background: rgba(255,255,255,0.1);*/
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
        -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
        -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
        border-radius: 7px;
      }
      .object-list{
        background-color: rgba(0,0,0,0);
        background-image:url(img/blur-bg-blurred.jpg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        border :0;
        box-shadow:  0 0 0 1px rgba(255,255,255,.20),
                     0 0 0 2px rgba(0,0,0,.12);
      }
      .my_data{
        width:49%;
      }
      .history{
        font-size: 16px;
      }
      .size{
        width: 25%;
      }
      .scroll{
         overflow: scroll;
         height:320px;
         margin-bottom: 100px;
      }
      @media(max-width:991px){
        .my_data{
          width:100%;
        }
        .my_data + .my_data{
          margin-top: 1rem
        }
        .size{
          width:60%;
        }
      }
      @media(max-width: 768px){
        .history{
          font-size: 12px;
        }
        .size{
          width:70%;
        }
      }
      @media(max-width: 480px){
        .fa{
          display: none;
        }
        .history{
          font-size: 10px;
        }
        .size{
          width:80%;
        }
      }
    </style>
  </head>
  <body class="bg-light">

    <!-- ナビゲーションバー -->
      <nav class="navbar text-white object" style="border-radius: 0">
        <span class="navbar-brand mb-0 h1" style="font-weight: 700;font-size: 24px;opacity: .9;">Arbitrage Signal</span>
        <span class="navbar-text" id="navId" style="font-weight: 700;font-size: 18px;opacity: .9;" >{{loginName}}</span>
      </nav>

      <!-- メイン -->
      <div class="contaienr mt-5 h-100 mb-5 mr-5 ml-5">
            <ul class="list-group history" id="app">
              <!-- リストごとに日本円、買い/売り、BTC、日時の順番で表示 -->
              <li class="list-group-item object-list py-0"
              v-for="item in datas">
                <div class="row text-white text-left py-1">
                  <div class="col-lg-4 col-md-4 col-2">
                    <p class="mt-2 mb-auto">通貨ペア: {{item[0]}}</p>
                  </div>
                </div>
                <div class="row text-white text-left py-1">
                  <div class="col-lg-4 col-md-4 col-4"><p>取引所(買い) {{item[1]}}</p></div>
                  <div class="col-lg-4 col-md-4 col-4"><p>価格(買い) {{item[2]}}</p></div>
                  <button type="submit" class="btn btn-info col-2 mb-3 ml-2" v-on:click="jump(item[1])">{{item[1]}}</button>
                </div>
                <div class="row text-white text-left py-1">
                  <div class="col-lg-4 col-md-4 col-4"><p>取引所(売り) {{item[3]}}</p></div>
                  <div class="col-lg-4 col-md-4 col-4"><p>価格(売り) {{item[4]}}</p></div>
                  <button type="submit" class="btn btn-info col-2 mb-3 ml-2" v-on:click="jump(item[3])">{{item[3]}}</button>
                </div>
                <div class="row text-white text-left py-1">
                  <div class="col-lg-4 col-md-5 col-2"><p>価格差: {{item[5]}}</p></div>
                </div>
              </li>

            </ul>
      </div>

      <script src="https://s3-ap-northeast-1.amazonaws.com/arbitrage-files/js/bundle.js"></script>
  </body>
</html>